.logo-footer {
    width: 21px;
    height: 19px;
}
.textofooter {
    font-size: 18px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 11px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(190, 188, 185, 1) 100%);
    min-height: 10vh;
    justify-items: start;
    align-items: center;
    text-align: center;
}
.footerul {
    display: flex;
    padding-left: 150px;
}


@media (max-width: 470px) {
    .footer {
        display: flex;
        flex-direction: row;
    }
}