.logo-footer {
    width: 21px;
    height: 19px;
}
.textofooter {
    font-size: 18px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 11px;
    background: rgb(255, 255, 255);
    background: $blanco;
    min-height: 10vh;
    justify-items: start;
    align-items: center;
    text-align: center;
}
.footerul {
    display: flex;
}


@media (max-width: 475px) {
    .footer {
       display: flex;
       flex-direction: column;
    }
}