#main-contacto {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 16%, rgba(190, 188, 185, 1) 100%);
}

.parrafo-contacto{
    font-family: Merriweather;
    font-size: 18px;
    text-align: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 250px;
    padding-right: 250px;
    
}
.form-contacto{
    width: 300px;
}
.anchocomentario{
    width: 550px;
    height: 150px;
}





iframe {
    width: 650px;
    height: 450px;
    
}